<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="AMapBackgroundGeolocation"
        version="1.0.0">
  <name>AMapBackgroundGeolocation</name>
  <license>MIT license</license>
  <description>高德地图后台定位</description>
  <keywords>高德地图 后台定位 AMap</keywords>
  <repo>https://github.com/yanglongji/AMapBackgroundGeolocation</repo>
  <issue>https://github.com/yanglongji/AMapBackgroundGeolocation/issues</issue>
  
    <js-module src="www/AMapBackgroundGeolocation.js" name="AMapBackgroundGeolocation">
      <runs/>
      <clobbers target="AMapBackgroundGeolocation"/>
    </js-module>

  <preference name="APIKEY" />
  
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="AMapBackgroundGeolocation">
        <param name="android-package" value="com.tengyi.app.AMapBackgroundGeolocation"/>
      </feature>
    </config-file>
    <source-file src="src/android/java/com/tengyi/app/AMapBackgroundGeolocation.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/IWifiAutoCloseDelegate.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/LocationHelperService.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/LocationService.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/LocationStatusManager.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/NetUtil.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/NotiService.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/PowerManagerUtil.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/Utils.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/java/com/tengyi/app/WifiAutoCloseDelegate.java" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/aidl/com/tengyi/app/ILocationHelperServiceAIDL.aidl" target-dir="src/com/tengyi/app"/>
    <source-file src="src/android/aidl/com/tengyi/app/ILocationServiceAIDL.aidl" target-dir="src/com/tengyi/app"/>

    <lib-file src="src/android/libs/AMap_Location_V3.8.0_20180201.jar" />

    <config-file target="app/src/main/AndroidManifest.xml" parent="/*">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    </config-file>
    <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="$APIKEY" />
        <service android:name="com.amap.api.location.APSService" />
        <service android:name=".LocationService" android:process=":remote1">
            <intent-filter>
                <action android:name="com.tengyi.app.LocationService" />
            </intent-filter>
        </service>
        <service android:name=".LocationHelperService" android:process=":remote2">
            <intent-filter>
                <action android:name="com.tengyi.app.LocationHelperService" />
            </intent-filter>
        </service>
    </edit-config>
  </platform>
</plugin>
